<div class="head-div" xmlns="http://www.w3.org/1999/html" >
  <div class="logo-div">
    <%= image_tag("logo.jpg", :class => "style_image") %>
  </div>

  <div class="log-div">
    <div class="sub-log-div">
      <div class="sub-sub-log">
        <a href="#">Sign In</a>
        <input type="email">
        <input type="password">
        <button>Log in</button>
      </div>
    </div>

    <div class="link-div">
      <div class="sub-link-div">
        <li class="list"><strong><a class="list-a text-primary" href="#"> Homes </a></strong></li>
        <li class="list"><strong><a class="list-a text-primary" href="#"> About</a></strong></li>
        <li class="list"><strong><a class="list-a text-primary" href="#"> Our Products </a></strong></li>
        <li class="list"><strong><a class="list-a text-primary" href="#"> Our Clients</a></strong></li>
        <li class="list"><strong><a class="list-a text-primary" href="#"> Help </a></strong></li>
        <li class="list"><strong><a class="list-a text-primary" href="#"> Contact </a></strong></li>


      </div>
    </div>
  </div>

</div>
<div class=" header-div">
  <h1>Salija bilijetter, Ta emot anmalningar och Samla in pengar</h1>
<h2>  <small> This is nothing but a subtitle it is onle a very very long sub title </small> </h2>
</div>

<div  class="snd-div">
  <div class="snd-img-div">
    <%= image_tag("", :class => "style_image2") %>
  </div>
  <div class="order-list">
    <ol>
      <li class="list-o text-primary"> <strong> This is the  a list item.</strong> </li>
      <li class="list-o text-primary"> <strong>This is the  a list item.</strong> </li>
      <li class="list-o text-primary"> <strong>This is the  a list item. </strong></li>
    </ol>
    <div class="snd-para">
      <p>This is a paragrapgh under the ordered list. Which contains some information about the list above</p>
      <p>This is another line under the first line</p>

    </div>
    <div class="info-div">
      <a href="#" class="info-link" >More Info </a>
      <button class = "b-2 btn btn-warning ">More Info >>> </button>
      </div>
  </div>

</div>

<div class="thrd-head">
  <h2>What you can do with our product ? </h2>
</div>
<div class="button-div">
  <button class="b-div btn btn-primary">Tag     </button>
  <button class="b-div btn btn-primary">Book     </button>
  <button class="b-div btn btn-primary">Flag     </button>
  <button class="b-div btn btn-success">Person   </button>

  <button class="b-div btn btn-primary active">Star    </button>
  <button class="b-div btn btn-primary active">Food     </button>
  <button class="b-div btn btn-primary active">User   </button>
  <button class="b-div b-div btn btn-success black-b">Quest </button>

</div>

<div class="forth-div">
<div class="fourth-sub-div" >
  <h2>Evenemunating pk G</h2>
  <h4>Her is some text with a link next <a href="#" >more ..</a></h4>
  <table  class="table table-striped table-hover">
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>    <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>80</td>
    </tr>

  </table>
</div>


  <div class=" face-div">
    <h2> facebook </h2>
    <%= render_shareable :buttons=> ['facebook'] %>
    <h3> Demo</h3>
    <p>Please visit the demo project</p>
    <%= image_tag("", :class => "style_image") %>

  </div>

<button class="last-b  btn btn-warning">Get Evenemunign</button>


</div>

<div class="footer-div">
  <%= render_shareable %>
  <footer class="sub-footer">
    <p>Posted by: Biozid </p>
    <p>Contact information: <a href="#">biozid@example.com</a>.</p>
  </footer>

</div>